[submodule "submodules/pronk"]
	path = submodules/pronk
	url = https://github.com/liqd/pronk.git
	branch = thentos-patches
	ignore = dirty
[submodule "submodules/servant"]
	path = submodules/servant
	url = https://github.com/liqd/servant
	branch = package-servant-session+1
[submodule "submodules/servant-purescript"]
	path = submodules/servant-purescript
	url = https://github.com/liqd/servant-purescript
