*~
*.o
*.hi
*.dyn_o
*.dyn_hi
*.swp
*.tix
.cabal-sandbox/
cabal.sandbox.config
*packages.conf.d/
packages/
.stack-work
add-source-timestamps
misc/selenium/log
misc/selenium/*.jar
misc/selenium/C:*
.vim.custom
bower_components/
node_modules/
output/
.psci*
log/*.log
servant-session/dist/
thentos-purescript/.browserify-cache.json
thentos-purescript/static/thentos.js
