/.acid-state/
.cabal-sandbox/
cabal.sandbox.config
/dist
/.test-db/
*~
*.o
*.hi
*.dyn_o
*.dyn_hi
/.sandbox-archive/
/TAGS
/services/helloworld/dist/
/services/helloworld/log/
log/access.log
log/error.log
