[submodule "submodules/pronk"]
	path = submodules/pronk
	url = https://github.com/liqd/pronk.git
	branch = thentos-patches
	ignore = dirty
[submodule "submodules/configifier"]
	path = submodules/configifier
	url = https://github.com/np/configifier.git
	branch = vector-11
	ignore = dirty
