command: "run"

backend:
    bind_port: 7001
    bind_host: "127.0.0.1"

frontend:
    bind_port: 7002
    bind_host: "127.0.0.1"

smtp:
    sender_name: "Thentos"
    sender_address: "thentos@thentos.org"
    sendmail_path: "/usr/sbin/sendmail"    # (built-in default)
    sendmail_args: ["-t"]                  # (built-in default)

default_user:
    name: "god"
    password: "god"
    email: "postmaster@localhost"
    roles: ["roleAdmin"]

user_reg_expiration: "1800"
pw_reset_expiration: "1800"
email_change_expiration: "1800"
