backend_port = 7001
frontend_port = 7002

smtp {
    sendmail_path = "/usr/sbin/sendmail"
    sendmail_args = ["-t"]
    sender_name = "Thentos"
    sender_address = "thentos@thentos.org"
}

default_user {
    name = "god"
    password = "god"
    email = "postmaster@localhost"
    roles = ["RoleAdmin"]
}
