backend:
    bind_port: 7001
    bind_host: "127.0.0.1"

frontend:
    bind_port: 7002
    bind_host: "127.0.0.1"

allow_ips:
    - 127.0.0.1

smtp:
    sender_name: "Thentos"
    sender_address: "thentos@thentos.org"
    sendmail_path: "/usr/sbin/sendmail"    # (built-in default)
    sendmail_args: ["-t"]                  # (built-in default)

default_user:
    name: "god"
    password: "god"
    email: "postmaster@localhost"
    roles: ["roleAdmin", "roleUser", "roleServiceAdmin", "roleUserAdmin"]

user_reg_expiration: 1d
pw_reset_expiration: 1d
email_change_expiration: 1d
captcha_expiration: 1h
gc_interval: 30m

log:
    path: ./log/thentos.log
    level: DEBUG
    stdout: True

database:
    name: "thentosdev"

purescript:
    "./thentos-purescript/static/"

email_templates:
    account_verification:
        subject: "Thentos: Aktivierung Ihres Nutzerkontos"
        # Supported variables: {{user_name}}, {{activation_url}}
        body: |
            Hallo {{user_name}},

            vielen Dank für Ihre Registrierung bei Thentos.

            Diese E-Mail dient der Validierung Ihrer Identität. Bitte
            nutzen Sie den folgenden Link um das Nutzerkonto zu aktivieren.

            {{activation_url}}

            Wir wünschen Ihnen viel Spaß und Inspiration!

            Das Thentos-Team
    user_exists:
        subject: "Thentos: Reset Password"
        body: |
            Someone tried to sign up to Thentos with your email address.

            This is a reminder that you already have a Thentos account. If you
            haven't tried to sign up to Thentos, you can just ignore this email.
            If you have, you are hereby reminded that you already have an account.
    password_reset:
        subject: "Thentos: Reset Password"
        # Supported variables: {{user_name}}, {{reset_url}}
        body: |
            Dear {{user_name}},

            please use the link below to reset your password.

            {{reset_url}}

            Your Thentos Team
