#thentos-register {
    max-width: 70%;
    align: middle;
    margin: 20px;
}

.thentos-captcha {
    background: green;
    padding: 20px;
    vertical-align: baseline;
    width: 40%;
    margin: auto;
}
