# Sample config for running A3 with Thentos in proxy mode.
# Used ports: A3 frontend on 6551, Thentos proxy on 6546, A3 backend on 6541.
# Required changes in the A3 config:
#
# * Change the following line in etc/frontend_development.ini.in:
#
#       adhocracy.frontend.rest_url = http://localhost:6546
#
# * Change the following line in etc/development.ini.in:
#
#       adhocracy.validate_user_token = false
#
# * Call bin/buildout

command: "run"

backend:
    bind_port: 6546
    bind_host: localhost

frontend:
    bind_port: 6551
    bind_host: localhost

proxy:
    service_id: qlX4MP7xEgtRng+8iNvMIcSo
    endpoint: http://localhost:6541

smtp:
    sender_name: "Thentos"
    sender_address: "thentos@thentos.org"
    sendmail_path: "/usr/sbin/sendmail"    # (built-in default)
    sendmail_args: ["-t"]                  # (built-in default)

default_user:
    name: "god"
    password: "god"
    email: "postmaster@localhost"
    roles: ["roleAdmin", "roleUser", "roleServiceAdmin", "roleUserAdmin"]

user_reg_expiration: 1d
pw_reset_expiration: 1d
email_change_expiration: 1d
gc_interval: 1800ms

log:
    path: ./log/thentos.log
    level: DEBUG
