html {
   background-color: #c0c0ff;
   font-family: Verdana, Helvetica, sans-serif;
}

body {
}

a {
   text-decoration: underline;
}

a :hover {
   cursor: pointer;
   text-decoration: underline;
}

img {
   border: none;
}

.logged_in {
   background-color: #c0ffc0;
}

.logged_out {
   background-color: #ffc0c0;
}
